@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    background-color: rgb(83, 52, 131);
    
}
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#logo {
    margin-top: 80px;
    width: 600px;
}
.welcome {
    margin: 5px 0 10px 0;
    font-size: 50px;
    color: white;
    font-family: 'Silkscreen', cursive;}
.but {
    margin-top: 5px;
    padding: 5px;
    border-radius: 10%;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #fff;
    background-color: #3c38a8;
    border-radius: 15px;
    border: 3px double #191580;
    }
.but:hover{
    background-color: #191580;
    text-decoration: none;
    cursor: pointer;
    }
a {
    text-decoration: none;
}
#reg {
    margin-top: 5px;
    color: white;
}